h3 {
  padding: 40px;
  font-family: Times;
  background: #1abc9c;
  color: white;
  font-size: 15px;
}

#blacklist {
  background-color: white;
  color: black;
  border: 2px solid #1abc9c; 
}

hr.solid {
  border-top: 2px solid #bbb;
}