
.buttons {
  transition-duration: 0.4s;
}
.buttons:hover {
  background-color: #ADD8E6;
  color: white;
}

hr.solid {
  border-top: 2px solid #bbb;
}

#blacklist , #headline, #blockArticle, #whiteList  {
display: inline-block;
width: 30%;
text-align:center;
line-height:17px;
}